
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStuffLabel" data-translate="customeranalyticsApp.stuff.home.createOrEditLabel">Create or edit a Stuff</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.stuff.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.stuff.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="customeranalyticsApp.stuff.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.stuff.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="customeranalyticsApp.stuff.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                    ng-model="vm.stuff.surname"
                    required/>
            <div ng-show="editForm.surname.$invalid">
                <p class="help-block"
                    ng-show="editForm.surname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="customeranalyticsApp.stuff.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.stuff.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="customeranalyticsApp.stuff.phone" for="field_phone">Phone</label>
            <input type="number" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.stuff.phone"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.stuff)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="customeranalyticsApp.stuff.image" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.stuff.imageContentType + ';base64,' + vm.stuff.image}}" style="max-height: 100px;" ng-if="vm.stuff.image" alt="stuff image"/>
                <div ng-if="vm.stuff.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.stuff.imageContentType}}, {{vm.byteSize(vm.stuff.image)}}</span>
                    <button type="button" ng-click="vm.stuff.image=null;vm.stuff.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.stuff)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.stuff.image"
                    required/>
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.stuff.imageContentType" />
            <div ng-show="editForm.image.$invalid">
                <p class="help-block"
                    ng-show="editForm.image.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="customeranalyticsApp.stuff.branch" for="field_branch">Branch</label>
            <select class="form-control" id="field_branch" name="branch" ng-model="vm.stuff.branch" ng-options="branch as branch.id for branch in vm.branches track by branch.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
